body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #333;
  padding: 1rem;
  flex-grow: 1;
}

.navbar a {
  color: white;
  text-align: center;
  padding: 10px 5px;
  text-decoration: none;
  flex-grow: 1;
  white-space: nowrap;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.welcome {
  color: white;
  font-size: 1.2em;
  white-space: nowrap;
  position: relative;
}

#reset-password {
  display: none;
  color: white;
  background-color: #444;
  padding: 5px 10px;
  border-radius: 4px;
  position: absolute;
  top: 25px;
  left: 0;
  white-space: nowrap;
}

.welcome:hover #reset-password {
  display: block;
}

.main {
  display: flex;
  flex: 1;
  margin-top: 20px;
}

.sidebar {
  width: 250px;
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  border-radius: 8px;
}

.content {
  flex: 1;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content iframe {
  width: 100%;
  border: 0;
}

h1,
h2 {
  color: #333;
}

.container p {
  margin: 10px 0;
}

.back-button {
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 20px;
}

.back-button a {
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  font-size: 1em;
}

.back-button a:hover {
  background-color: DodgerBlue;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  margin-top: auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 8px;
  text-align: center;
}

.modal-content p {
  margin-bottom: 20px;
}

.modal-content button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-content .register {
  background-color: black;
  color: white;
}

.modal-content .ok {
  background-color: black;
  color: white;
}

.modal-content button:hover {
  background-color: DodgerBlue;
  color: white;
}
